In [8]:
a=10
b=5
c=a+b
print(c)

15

In [9]:
a=2
b=3
c
print(c)

15

In [10]:
23=10
24=25

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (827592745.py, line 1)

In [11]:
&="Queeni"
print(&)

SyntaxError: invalid syntax (2031248074.py, line 1)

In [12]:
"My name is"="Queeni"
print("My name is")

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3304886737.py, line 1)

In [13]:
7.5=My name is
7.5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3461861358.py, line 1)

In [14]:
My_name_is="Runisha"
print(My_name_is)

Runisha

In [6]:
-name="Runisha"
print(-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (732244773.py, line 1)

W3 SCHOOL STRING PRACTICES

In [16]:
print("Runisha")
print('Runisha')

Runisha
Runisha

In [17]:
print("I'm Engineering")
print("B.Tech-'Information Technology'")
print('B.Tech-"InformationTechnology"')

I'm Engineering
B.Tech-'Information Technology'
B.Tech-"InformationTechnology"

In [18]:
a="""I'm Runisha Queeni,
I'm Graduated student,
from Cuddalore."""
print(a)

I'm Runisha Queeni,
I'm Graduated student,
from Cuddalore.

In [19]:
'''a=I'm Runisha Queeni,
I'm Graduated student,
from Cuddalore.'''

"a=I'm Runisha Queeni,\nI'm Graduated student,\nfrom Cuddalore."

In [20]:
a='''I'm Runisha Queeni,
I'm Graduated student,
from Cuddalore.'''
print(a)

I'm Runisha Queeni,
I'm Graduated student,
from Cuddalore.

STRINGS AND ARRAYS

In [21]:
a="Runisha Queeni"
print(a[:8])

Runisha

LOOPING

In [12]:
for x in "Runisha":
   print(x)

R
u
n
i
s
h
a

STRING LENGTH

In [14]:
a="Welcome to Python"
print(len(a))

17

CHECH STRING

In [24]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [25]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [26]:
x = 'Welcome'
print(x[3])

c

In [15]:
x = "Hello World"
print(len(x))

11

In [22]:
a = "Hello World"
print(a[1:])

ello World

In [30]:
txt = 'The best things in life are free!'
if 'free' in  txt:
  print('Yes, free is present in the text.')

Yes, free is present in the text.

SLICING

In [40]:
b = "Hello, World!"
print(b[2:12])

llo, World

In [46]:
a = "Hello World"
x = (a[2:5])

UPPER CASE

In [48]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

REMOVE WHITESPACE

In [55]:
a = " Hello,World! "
print(a.strip()) # returns "Hello, World!"

Hello,World !

In [57]:
a = "Hello, World!"
print(a.replace("H", "R"))

Rello, World!

In [61]:
a = "Hello, World!"
print(a.split("l")) # returns ['Hello', ' World!']

['He', '', 'o, Wor', 'd!']

In [67]:
a=" Hello,World! "
print(txt.strip())

Hello World

CANCATENATION

In [68]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [69]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

STRING FORMATE

In [76]:
age = 36
txt = "My name is John, I am"  + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [72]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [77]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [78]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [79]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

ESCAPE CHARACTER

In [29]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [34]:
txt = 'We are the so-called \"Vikings"\ from the north.'
print(txt)

We are the so-called "Vikings"\ from the north.

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\Rani Motcha FSAG\AppData\Local\Temp\ipykernel_1872\2085106430.py:1: SyntaxWarning: invalid escape sequence '\ '
  txt = 'We are the so-called \"Vikings"\ from the north.'

OPERATORS

1.ARITHMETIC OPERATORS

In [6]:
x=20
y=10
print(x+y) #addition
print(x-y) #subtraction
print(x*y) #multiplication
print(x/y) #division
print(x%y) #modulus(remainder value)
print(x**y) #exponentation(20*20*20*20*20*20*20*20*20*20)
print(x//y) #floor division

30
10
200
2.0
0
10240000000000
2

2.ASSIGNMENT OPERATORS

In [12]:
x*=10
print(x)

100

In [14]:
x=10
x+=5
print(x)

15

In [15]:
x=10
x-=20
print(x)

-10

In [17]:
x=10
x%=20
print(x)

10

In [18]:
x=10
x/=20
print(x)

0.5

In [19]:
x=20
x**=10
print(x)

10240000000000

In [20]:
x=20
x//=10
print(x)

2

In [27]:
x=10
x&=15
print(x)

10

In [30]:
x=10
x|=9
print(x)

11

In [32]:
x=10
x^=20
print(x)

30

In [42]:
x=10
x>>=5
print(x)

0

In [43]:
x=10
x<<=5
print(x)

320

In [44]:
x=10
print(x)

10

3.COMPARISON OPERATOR

In [45]:
x=10
y=9
print(x==y)

False

In [47]:
x=10
y=5
print(x!=y)

True

In [48]:
x=10
y=20
print(x>y)

False

In [49]:
x=10
y=10
print(x<y)

False

In [50]:
x=10
y=20
print(x>=y)

False

In [51]:
x=10
y=20
print(x<=y)

True

4.LOGICAL OPERATORS

In [55]:
x=5
print(x<4) and (x>20)

False

In [59]:
x=10
print(10>11) or (x<20)

False

True

In [62]:
x=10
print(not(10>10 and 10<10))

True

5.IDENTIFY OPERATORS

In [65]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x==y)

True
False
True

In [66]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)
print(x is not y)
print(x!=y)

False
True
False

PYTHON BITWISE OPERATORS

1.XOR ^

In [4]:
print(8^3)

11

In [5]:
a=6 #110
b=3 #011
print(6^3) #101(if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0)

5

In [6]:
print(10^6)

12

2.NOT

In [8]:
print(~3) #011( each bit 0 becomes 1 and 1 becomes 0).

-4

In [15]:
print(~-10)

9

3.ZERO FILL LEFT SHIFT

In [18]:
print(3<<2)

12

4.SIGNED RIGHT SHIFT

In [19]:
print(8>>2)

2

CONDITIONS AND IF STATEMENTS

In [12]:
a=56
b=56
if b<a:
    print("b is greater than a")
else: # we cannot apply condition.
    print("a is greater than b")

a is greater than b

In [43]:
mark=90
if mark>=90:
    print("grade A")
elif mark>80:
    print("grade B")
else:
    print("grade C")

grade A

In [15]:
mark=86
if mark>90:
    print("grade A")
elif mark>80:
    print("grade B")
else:
    print("grade C")

grade B

In [46]:
mark=86
if mark>90:
    print("grade A")
elif mark>80 and mark<90:
    print("grade B")
else:
    print("grade C")

grade B

In [45]:
mark=70
if mark>90:
    print("grade A")
elif mark>80 and mark<90:
    print("grade B")
else:
    print("grade C")

grade C

In [70]:
a=70
b=80
c=50
if(a>b) and(a>c): #a check 'b' and 'c'.
    print(a)
elif(b>a) and (b>c): #b check 'a' and 'c'.
    print(b)
else: # otherwise 'C'.
    print(c)

80

In [71]:
a=70
b=80
c=50
if(a>b) and(a>c): #a check 'b' and 'c'.
    print("a",a)
elif(b>a) and (b>c): #b check 'a' and 'c'.
    print("b",b)
else: # otherwise 'C'.
    print("c",c)

b 80

NESTED IF

In [8]:
mark=int(input("enter your mark"))
gender=input("enter your gender")
if(mark<300):
    if gender=="male":
        print("Chennai,Anna university")
elif(mark>300):
    if gender=="female":
        print("Mumbai,Bharathidasan university")
else:
    print("invalid")

enter your mark 350
enter your gender female

Mumbai,Bharathidasan university

In [1]:
gender=input("enter your gender")
exp=int(input("enter your exp"))
if gender=="male":
    if exp==1:
        print("TCS")
    elif exp==2:
        print("WIPRO")
    else:
        print("invalid")
elif gender=="female":
    if exp==2:
        print("TCS")
    elif exp==3:
        print("WIPRO")
    else:
        print("invalid")
else:
    print("invalid")

enter your gender female
enter your exp 2

TCS

In [11]:
gender=input("enter your gender")
exp=int(input("enter your exp"))
if gender=="male":
    if exp==1:
        print("zoho")
    elif exp==2:
        print("CEO of Google")
    else:
        print(invalid)
elif gender=="female":
    if exp==1:
        print("zoho")
    elif exp==2:
        print("CEO of Google")
    else:
        print("invalid")
else:
    print(invalid)

enter your gender female
enter your exp 2

CEO of Google

LIST

In [9]:
mylist=["mango","grapes","banana"]
print(mylist)
mylist[1]="kiwi"
mylist

['mango', 'grapes', 'banana']

['mango', 'kiwi', 'banana']

In [10]:
mylist=["apple","orange","grapes","banana"]
print(mylist)
mylist[3]="66"
mylist

['apple', 'orange', 'grapes', 'banana']

['apple', 'orange', 'grapes', '66']

In [12]:
gender=input("enter your gender")
exp=int(input("enter your exp"))
if gender=="male":
    if exp==1:
        print("Python")
    elif exp==2:
        print("Java")
    else:
        print(invalid)
elif gender=="female":
    if exp==1:
        print("Python")
    elif exp==2:
        print("Java")
    else:
        print("invalid")
else:
    print(invalid)

enter your gender female
enter your exp 2

Java

SET JOIN

UNION

In [8]:
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,6,"apple",8,"banana"}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 6, 8, 'banana', 'orange', 'apple'}

In [11]:
a={"dog","cat","rabbit"}
b={"peacock","parrot","owl"}
c=a.union(b)
print(c)

{'parrot', 'rabbit', 'owl', 'peacock', 'dog', 'cat'}

In [10]:
set1 = {"apple", "banana", "orange"}
set2 = {1, 2, 3}

set3=set1|set2

set3

{1, 2, 3, 'apple', 'banana', 'orange'}

In [13]:
a={"1","2","3","4"}
b={"5","6","7","8"}
c={"9","10","11","12"}
d=a|b|c
print(d)

{'3', '7', '2', '4', '8', '5', '6', '11', '10', '9', '1', '12'}

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'c', 2, 3, 'a', 'b'}

In [17]:
a={"Queeni","Ruthi","Ruso"}
b={"Amma","Appa"}
a.update(b)
print(a)

{'Ruthi', 'Queeni', 'Amma', 'Appa', 'Ruso'}

INTERSECTION

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3=set1.intersection(set2)
set3

{'apple'}

In [19]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print(result)  # Output: {3, 4}
print(set1)    # Output: {1, 2, 3, 4} (unchanged)

{3, 4}
{1, 2, 3, 4}

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2  # & used instead of intersection.
print(set3)

{'apple'}

In [25]:
set1 = {"apple", "banana", "cherry","microsoft"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple', 'microsoft'}

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

SYMMETRIC DIFFERENCE

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'microsoft', 'cherry'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'banana', 'microsoft', 'cherry'}